

<div class="header-container">
  <nav class="navbar">
      <div id = "name">
        <span itemprop="name"> Dr Sri Harsha Talluri</span>
      </div>
    <ul class="nav-links">
      <!-- should add  proper links here -->
      <li class="nav-item"><a href="#"> Home </a></li>
      <li class="nav-item"><a href="#"> AIIMS </a></li>
      <li class="nav-item"><a href="#"> Thesis </a></li>
      <li class="nav-item"><a href="#"> Publications </a></li>
      <li class="nav-item"><a href="#"> Bio </a></li>
      <li class="nav-item"><a href="#"> CV </a></li>
      <li class="nav-item"><a href="#"> Resume </a></li>
      <li class="nav-item"><a href="#"> Contact </a></li>
    </ul>
  </nav>
</div>
<div class="row">
  <div class="col-12">
    <div class="main-container">
      
      <div
        id="mainImg"
        style="width: 270px;"
        class="mx-auto rounded mb-3 d-block"
      >
        <img
          class="display-image"
          src="assets/img/harsha_flutter.png"
          alt="Dr Harsha Talluri"
        />
      </div>
    </div>

    <!-- later code
  
  <div class="row">
    <div class="col-12">
      <div id="mainImg" style="width: 250px" class="mx-auto rounded mb-3 d-block">
        <img
          class="display-image"
          src="assets/img/harsha_angular.jpeg"
          alt="Dr Harsha Talluri  "
        />
      </div>
    </div> -->
    <p class="center">
      Hi! This is Harsha Talluri, and I am a Senior Resident in Surgical Oncology
      at the
      <a href="https://www.aiims.edu/en.html">
        All India Institute of Medical Sciences </a>(AIIMS Delhi). <br>
         I have completed my Post Graduation in Masters of Surgery
      (MS) as a General Surgeon from AIIMS Delhi.
      <em>
        <div style="padding-left: 12%">(page under construction :p)</div></em
      >
    </p>
  </div>
</div>

